<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>servletContexConfig</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>

  </welcome-file-list>
  <context-param>
  <param-name>offer</param-name>
  <param-value>Dewali sell offer</param-value>
  </context-param>
  
  <servlet>
  <servlet-name>ClothServlet</servlet-name>
  <servlet-class>com.lovely.app.ClothServlet</servlet-class>
  <init-param>
  <param-name>discount</param-name>
  <param-value>25%</param-value>
  </init-param>
  </servlet>
  <servlet-mapping>
  <servlet-name> ClothServlet</servlet-name>
  <url-pattern>/ClothServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>ElectronicServlet</servlet-name>
  <servlet-class>com.lovely.app.ElectronicServlet</servlet-class>
  <init-param>
  <param-name>discount</param-name>
  <param-value>30%</param-value>
  </init-param>
  </servlet>
  <servlet-mapping>
  <servlet-name>ElectronicServlet</servlet-name>
  <url-pattern>/ElectronicServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>HaServlet</servlet-name>
  <servlet-class>com.lovely.app.HaServlet</servlet-class>
  <init-param>
  <param-name>discount</param-name>
  <param-value>10%</param-value>
  </init-param>
  </servlet>
  <servlet-mapping>
  <servlet-name>HaServlet</servlet-name>
  <url-pattern>/HAServlet</url-pattern>
  </servlet-mapping>
  
</web-app>